{% extends "base.jinja2" %}

{% block content %}
<h1>Portfolio of Stocks</h1>
<ul>
  {% for entry in portfolio %}
  <li>
    <h3>{{entry.companyName}}</h3>
    <p><a href="{{request.route_url('details', symbol=entry.symbol)}}">view more</a></p>
  </li>
  {% endfor %}
</ul>
{% endblock content %}